target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.mvn

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
libs/
src/main/resources/application.properties

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*jpeg
/src/main/resources/images/
